<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo"><img src="assets/img/logo.png" width="60px" height="50px" class="logo3"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon name="arrow-undo-outline" style="zoom: 3.0" routerLink="/home" class="flecha3"></ion-icon>

  <div class="contenido">
    <h1>Ingrese el codigo que llego a su correo {{parametro}}</h1>
    <ion-input class="codigo" type="number" helperText="Sólo 4 digitos" [counter]="true" [maxlength]="4"></ion-input>
  </div>

</ion-content>
