.titulo{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: #FCD116;
  }

  .contenido{
    text-align: center;
  }

  ion-input.codigo{
    background-color: #373737;
    color: #fff;
    
  }