<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo"><img src="assets/img/logo.png" width="60px" height="50px" class="logo5"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon name="arrow-undo-outline" style="zoom: 3.0" routerLink="/home" class="flecha5"></ion-icon>
<br><br>
<h1><img src="assets/img/ruta1.jpg" alt="Ups" width="200px" (click)="select()">Ruta 1</h1>
<br>
<h1><img src="assets/img/ruta2.jpg" alt="Ups" width="200px" (click)="select()">Ruta 2</h1>
<br>
<h1><img src="assets/img/ruta3.jpg" alt="Ups" width="200px" (click)="select()">Ruta 3</h1>
</ion-content>
