<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-list>
    <br><br>
    <ion-item>
      <ion-input labelPlacement="floating"  [(ngModel)]="userText"><div slot="label">Nombre de usuario:</div></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input labelPlacement="floating" label="Password:" type="Password" [(ngModel)]="passText"></ion-input>
    </ion-item>
  
    <ion-button (click)="refresh()" >Ingresar</ion-button><br>

    

    
  
    
  </ion-list>

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>

  </ion-toolbar>
</ion-footer>
