.titulo{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: #FCD116;
}

.square{
  width: 150px;
  height: 150px;
  background: green;
}

/*.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: block;
  background: red;
}*/

ion-icon{
  width: 70px;
  height: 70px;
  
}

.footer{
  text-align: center;
  background-color: black;
}