<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-list>
    <br><br>
    <ion-item>
      <ion-input labelPlacement="floating"  [(ngModel)]="usuario.nombre"><div slot="label">Nombre de usuario:</div></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input labelPlacement="floating" label="Password:" type="Password" [(ngModel)]="usuario.contrasenia"></ion-input>
    </ion-item>
  
    <ion-button (click)="refresh()" >Ingresar</ion-button><br>

    <br><br>

    
    
  
   

    
  
    
  </ion-list>

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="logo-facebook" size="large"></ion-icon>
    <ion-icon name="logo-twitter" size="large"></ion-icon>

  </ion-toolbar>
</ion-footer>
